@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
@Html.Widget("body_start_html_tag_after")
@Html.Partial("_Notifications")
@Html.Action("JavaScriptDisabledWarning", "Common")
@Html.Partial("OldInternetExplorerWarning")
<div id="wrapper">
    <!-- preloader -->
    @Html.Partial("Header")
    @if (IsSectionDefined("Breadcrumb"))
            {
        @RenderSection("Breadcrumb")
    }
    @RenderBody()


    <!-- end wrapper -->

</div>
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <p>Copyright © 2017 Bigbudsdelivery. All rights reserved.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                @Html.Action("Social", "Common")
            </div>
        </div>
    </div>
</footer>


@*<div class="master-wrapper-page">
        @Html.Action("AdminHeaderLinks", "Common")
        @Html.Partial("Header")
        <script type="text/javascript">
            AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
        </script>
        <div class="header-menu">
            @Html.Action("TopMenu", "Catalog")
        </div>
        <div class="master-wrapper-content">
            @Html.Widget("content_before")


            <div class="master-column-wrapper">
                @RenderBody()
            </div>
            @Html.Widget("content_after")
        </div>
        @Html.Action("Footer", "Common")
    </div>*@
@Html.Action("EuCookieLaw", "Common")
@Html.Widget("body_end_html_tag_before")
